
body{background-color: #4c4c4c;}


/*header*/

nav.navbar{
	background-color: #990000;
	border: none;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
	z-index: 9999999;
}


nav.navbar .navbar-brand{
	padding-top: 22px;
	background-color: #bb0000;
	width:150px; 
	position: relative;
	z-index: 1000;
	notext-shadow: 1px 1px 1px #000;
	height: 78px;
}


nav.navbar  .navbar-brand .navbar-brand-title{
	font-size: 25px;
	font-family:verdana;
	color: #fff;
	width: 140px;


	position: relative;
	z-index:999;
	
}


nav.navbar  .navbar-brand .navbar-brand-def{
	font-size: 11px;
	font-family:verdana;
	color: #fff;
	width: 159px;
	margin-top: 5px;


	position: relative;
	z-index:999;
	
}


nav.navbar  .navbar-brand .navbar-brand-plus{
	background-color:#b00;
	transform: skew(30deg);
	height: 78px;
	width: 170px;
	top: 0;
	box-shadow: 5px -7px 5px 1px rgba(30, 30, 30, 0.4);


	z-index: 998;

	position: absolute;
}

nav.navbar .navbar-brand:hover, 
nav.navbar .navbar-brand:focus, 
nav.navbar .navbar-brand:hover .navbar-brand-plus,
nav.navbar .navbar-brand:hover .navbar-brand-title,
nav.navbar .navbar-brand:focus .navbar-brand-plus,
nav.navbar .navbar-brand:focus .navbar-brand-title{
	background-color: #a00;
	color: #fff;
	z-index: 100;
}


.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}

div.navbar-collapse{
  padding-left: 0px;
  padding-right: 0px ;
  border-top: 0px solid transparent;
  box-shadow: 4px -2px 5px 1px rgba(30, 30, 30, 0.4);
}

.login {
	background-color:#b00;
	text-align: right;
	padding: 8px;
}

.login a{
	padding: 10px;
	color: #fff;
	notext-shadow: 1px 1px 1px #000;
	font-family:verdana;
	notext-shadow: 1px 1px 1px #000;

}

.login a:hover,
.login a:focus{
	color: #ccc;
	text-decoration: none;
	notext-shadow: 1px 1px 1px #000;
}

.modal-content{
	text-align: left;
}

.modal-content .modal-header?{
	background-color: #cc0000;
	color: #fff;
}

.modal-content .modal-body{
	width: 100%;
}

.modal-content .modal-body input[type="submit"],
.modal-content .modal-body input[type="reset"]{
	border: 0px solid transparent;
	background-color: transparent;
}

.modal-content .modal-header button.close?{
	opacity: 1;
	color: #fff;
}


.cari {
	background-color: #fff;
	position: relative;
	z-index: 97;
	padding: 8px;
	padding-left: 200px;
	text-align: center;
	font-family:verdana;
	width: 100%;
	margin-right: 5%;
	color: #bb0000;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.cari form{
	padding: 0px;
	margin: 0px;
}

.cari select.form-control {
	padding: 0px;
	padding-left:5px;
	padding-right: 5px; 
	width: 100px;
	height: 25px;
	display: inline-block;
	font-family: calibri;
	margin-right: 5%;
	background-color: #ccc;
}

.cari input[type="submit"]{
	position: relative;
	padding:0px;
	padding-left:10px;
	padding-right: 10px; 
	border: none;
	border-radius: 5px;
	height: 25px;
	background-color: #bb0000;
	color: #fff;
		notext-shadow: 1px 1px 1px #000;

}

.cari input[type="submit"]:hover{
	position: relative;
	padding:0px;
	padding-left:10px;
	padding-right: 10px; 
	height: 25px;
	background-color: #990000;
	color: #fff;

}





.navbar .navbar-header button{
	background-color: #eee;
	box-shadow:0px 0px 1px 2px rgba(0, 0, 0, 0.3);
	border: 0px solid transparent;
	margin-top: 16px;
	padding: 16px;
}

.navbar .navbar-header button span.icon-bar{
	background-color: #a00;
}




/*Responsive*/

@media (max-width: 900px) {
	.cari select.form-control {
	padding: 0px;
	padding-left:5px;
	padding-right: 5px; 
	width: 85px;
	height: 25px;
	display: inline-block;
	font-family: calibri;
	margin-right: 0%;
}	
}



@media (max-width: 767px) {
	.cari {
	background-color: #fff;
	z-index: 97;
	padding: 16px;
	text-align: left;
	width: 100%;
}	
	
	.cari select.form-control {
	width: 100%;
	margin-bottom: 10px;
}


	.cari input[type="submit"]{
	height: auto;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

}	
	.cari input[type="submit"]:hover{
	height: auto;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

}
	
}





/*index*/

div.container{
	margin-top: 30px;
	color: #fff;
	notext-shadow: 1px 1px 1px #000;
	margin-bottom: 100px;
}

h2.hari-ini{
	margin-top: 0px;
}

table.tableku{
	notext-shadow: none;
	width: 100%;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3)
}

table.tableku thead tr th{
	text-align: center;
	background-color: #999;
	color: #fff;
	font-weight: normal;
	padding: 5px;
	border: 1px solid #999;
}

table.tableku tbody tr td{
	color: #444;
	background-color: #eee;
	border: 1px solid #999;
	border-top: 3px solid #999;
	padding: 5px;
}



/*footer*/
div.footer{
	background-color: #990000;
	width: 100%;
	color: #fff;
	font-family: verdana;
	font-size: 15px;
	bottom: 0;
	position: fixed;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
	notext-shadow: 1px 1px 1px #000;
	z-index: 800;
}